<form class="contact-form d-flex flex-column" action="#" [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <input class="form-control" type="text" placeholder="Your Name..." name="name" formControlName="name" [ngClass]="{'has-error' : myForm.get('name').errors}" />
  <input class="form-control" type="email" placeholder="Your Email..." name="email" formControlName="email"/>
  <textarea class="form-control" placeholder="Your Message..." rows="6" name="message" formControlName="message"></textarea>

  <button class="btn btn-success text-uppercase" type="submit" [disabled]="myForm.invalid" >send</button>


</form>
