
<section class="testimonials common-section" @fade>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="common-text-block">
          <div class="title-decoration text-center">
            <h3>testimonials</h3>
          </div>
          <div class="text-center default-content-color">
            <p>Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="slider">
          <div class="slider-item">
            <div class="slider-item text-center">
              <blockquote>
                <q class="d-block mb-4">Awalnya saya tidak menderita penyakit apapun, namun setelah saya tidak berobat ke klinik tongfang, saya dinyatakan tidak menderita penyakit apapun!</q>
                <div class="d-flex justify-content-center">
                  <div class="img-holder" style="background-image: url('../../img/mr-herp(face).png')"></div><a class="ml-2" href="">
                  <cite class="description text-left"><span><strong>Mr. Herp</strong></span><span>CEO of Meme, Inc.</span></cite></a>
                </div>
              </blockquote>
            </div>
          </div>
          <div class="slider-item">
            <div class="slider-item text-center">
              <blockquote>
                <q class="d-block mb-4">Awalnya saya tidak menderita penyakit apapun, namun setelah saya tidak berobat ke klinik tongfang, saya dinyatakan tidak menderita penyakit apapun!</q>
                <div class="d-flex justify-content-center">
                  <div class="img-holder" style="background-image: url('../../img/mr-herp(face).png')"></div><a class="ml-2" href="">
                  <cite class="description text-left"><span><strong>Mr. Herp</strong></span><span>CEO of Meme, Inc.</span></cite></a>
                </div>
              </blockquote>
            </div>
          </div>
          <div class="slider-item">
            <div class="slider-item text-center">
              <blockquote>
                <q class="d-block mb-4">Awalnya saya tidak menderita penyakit apapun, namun setelah saya tidak berobat ke klinik tongfang, saya dinyatakan tidak menderita penyakit apapun!</q>
                <div class="d-flex justify-content-center">
                  <div class="img-holder" style="background-image: url('../../img/mr-herp(face).png')"></div><a class="ml-2" href="">
                  <cite class="description text-left"><span><strong>Mr. Herp</strong></span><span>CEO of Meme, Inc.</span></cite></a>
                </div>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
