
<section class="testimonials common-section" @fade>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="common-text-block">
          <div class="title-decoration text-center">
            <h3>testimonials</h3>
          </div>
          <div class="text-center default-content-color">
            <p>Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <app-slider></app-slider>
        <div class="slider">

        </div>
      </div>
    </div>
  </div>
</section>
