<main id="main" @fade>
  <div class="top-block overlay">
    <section class="intro flex-grow-1 align-items-center d-flex">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="title-holder text-white text-center">
              <h1>Art is Eternal Happiness</h1>
            </div>
            <div class="text-center"><a class="btn btn-primary btn-lg text-uppercase" href="">Work with us</a></div>
          </div>
        </div>
      </div>
    </section>
    <div class="scroll-down-holder text-center"><a class="btn btn-default btn-arrow-default" href="#weDo" id="scrollToMain">scroll down<span class="icon-arrow-down"></span></a></div>
  </div>

  <section class="latest-work bg-primary common-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="common-heading-block">
            <div class="title-decoration text-center mb-2 primary-title-color">
              <h3>our latest work</h3>
            </div>
            <div class="text-center text-success">
              <p>Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="btn-group btn-filter-group" aria-label="filter-button">
          <button class="filter btn btn-light active" type="button" data-filter="*">Photography</button>
          <button class="filter btn btn-light" type="button" data-filter=".nature">Design</button>
          <button class="filter btn btn-light" type="button" data-filter=".tables">Print</button>
        </div>
      </div>
    </div>
    <div class="container common-section">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="row"></div>
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="custom-block"></div>
    </div>
    <div class="text-center"><a class="btn btn-success btn-arrow" href="#" id="vieMore">View more work<span class="icon-arrow-right"></span></a></div>
  </section>

  <section class="our-client common-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="common-text-block">
            <div class="title-decoration text-center">
              <h3>our happy client</h3>
            </div>
            <div class="text-center default-content-color">
              <p>Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row common-section">
        <div class="col-md-6 col-lg-3 d-flex align-items-center justify-content-center mb-5"><a href="#"><img src="img/google.png" alt="img/google.png"></a></div>
        <div class="col-md-6 col-lg-3 d-flex align-items-center justify-content-center mb-5"><a href="#"><img src="img/yahoo.png" alt="img/yahoo.png"></a></div>
        <div class="col-md-6 col-lg-3 d-flex align-items-center justify-content-center mb-5"><a href="#"><img src="img/Microsoft.png" alt="img/Microsoft.png"></a></div>
        <div class="col-md-6 col-lg-3 d-flex align-items-center justify-content-center mb-5"><a href="#"><img src="img/intel.png" alt="img/intel.png"></a></div>
        <div class="col-md-6 col-lg-3 d-flex align-items-center justify-content-center mb-5"><a href="#"><img src="img/qualcom.png" alt="img/qualcom.png"></a></div>
        <div class="col-md-6 col-lg-3 d-flex align-items-center justify-content-center mb-5"><a href="#"><img src="img/cisco.png" alt="img/cisco.png"></a></div>
        <div class="col-md-6 col-lg-3 d-flex align-items-center justify-content-center mb-5"><a href="#"><img src="img/apple.png" alt="img/apple.png"></a></div>
        <div class="col-md-6 col-lg-3 d-flex align-items-center justify-content-center mb-5"><a href="#"><img src="img/asus.png" alt="img/asus.png"></a></div>
      </div>
    </div>
    <div class="container d-flex justify-content-center"><a class="btn btn-gray btn-arrow" href="#">See all client<span class="icon-arrow-right"></span></a></div>
  </section>
  <section class="meet-team bg-primary">
    <div class="common-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="common-heading-block">
              <div class="title-decoration text-center mb-2 primary-title-color">
                <h3>meet the team</h3>
              </div>
              <div class="text-center text-success">
                <p>Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-5 col-lg-2">
              <div class="d-flex flex-column align-items-center mb-5 mb-lg-0">
                <div class="img-holder" style="background-image: url('../../img/krisna.jpg')"></div>
                <div class="text-white common-decoration-block">
                  <p>Krisna Wijaya</p>
                </div>
                <div class="team-social justify-content-center">
                  <ul class="socials-contact bg-light-green nav">
                    <li><a class="bg-for-dribbble" href="#"><span class="icon-dribbble"></span></a></li>
                    <li><a class="bg-for-behance" href="#"><span class="icon-behance"></span></a></li>
                    <li><a class="bg-for-twitter" href="#"><span class="icon-twitter"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-lg-2">
              <div class="d-flex flex-column align-items-center mb-5 mb-lg-0">
                <div class="img-holder" style="background-image: url('../../img/gabriel.jpg')"></div>
                <div class="text-white common-decoration-block">
                  <p>Gabriel Yoshua</p>
                </div>
                <div class="team-social justify-content-center">
                  <ul class="socials-contact bg-light-green nav">
                    <li><a class="bg-for-dribbble" href="#"><span class="icon-dribbble"></span></a></li>
                    <li><a class="bg-for-behance" href="#"><span class="icon-behance"></span></a></li>
                    <li><a class="bg-for-twitter" href="#"><span class="icon-twitter"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-lg-2">
              <div class="d-flex flex-column align-items-center mb-5 mb-lg-0">
                <div class="img-holder" style="background-image: url('../../img/adik.jpg')"></div>
                <div class="text-white common-decoration-block">
                  <p>Adik N.K.L</p>
                </div>
                <div class="team-social justify-content-center">
                  <ul class="socials-contact bg-light-green nav">
                    <li><a class="bg-for-dribbble" href="#"><span class="icon-dribbble"></span></a></li>
                    <li><a class="bg-for-behance" href="#"><span class="icon-behance"></span></a></li>
                    <li><a class="bg-for-twitter" href="#"><span class="icon-twitter"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-lg-2">
              <div class="d-flex flex-column align-items-center mb-5 mb-lg-0">
                <div class="img-holder" style="background-image: url('../../img/zan.jpg')"></div>
                <div class="text-white common-decoration-block">
                  <p>Zan D.J</p>
                </div>
                <div class="team-social justify-content-center">
                  <ul class="socials-contact bg-light-green nav">
                    <li><a class="bg-for-dribbble" href="#"><span class="icon-dribbble"></span></a></li>
                    <li><a class="bg-for-behance" href="#"><span class="icon-behance"></span></a></li>
                    <li><a class="bg-for-twitter" href="#"><span class="icon-twitter"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-lg-2">
              <div class="d-flex flex-column align-items-center mb-5 mb-lg-0">
                <div class="img-holder" style="background-image: url('../../img/falzal.jpg')"></div>
                <div class="text-white common-decoration-block">
                  <p>Faizal Febri</p>
                </div>
                <div class="team-social justify-content-center">
                  <ul class="socials-contact bg-light-green nav">
                    <li><a class="bg-for-dribbble" href="#"><span class="icon-dribbble"></span></a></li>
                    <li><a class="bg-for-behance" href="#"><span class="icon-behance"></span></a></li>
                    <li><a class="bg-for-twitter" href="#"><span class="icon-twitter"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="text-center btn-holder text-white"><a class="btn btn-primary text-uppercase" href="#">Work with us</a></div>
    </footer>
  </section>
  <section class="seen-on">
    <div class="justify-content-center">
      <div class="title-holder title-decoration text-center mb-4 text-uppercase">
        <h4>as seen on</h4>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 d-flex align-items-center justify-content-center mb-5 mb-lg-0"><a href="#"><img src="img/CNN.png" alt="CNN"></a></div>
        <div class="col-lg-2 d-flex align-items-center justify-content-center mb-5 mb-lg-0"><a href="#"><img src="img/TC.png" alt="TC"></a></div>
        <div class="col-lg-3 d-flex align-items-center justify-content-center mb-5 mb-lg-0"><a href="#"><img src="img/BBC.png" alt="BBC"></a></div>
        <div class="col-lg-5 d-flex align-items-center justify-content-center"><a href="#"><img src="img/NYT.png" alt="The New York times"></a></div>
      </div>
    </div>
  </section>
</main>
